*outputs*
*MNIST/*
*__pycache_*
*scalefree_cloud*
*test_noniid*
*teststuff.py*
*devices/models/*.pth*
*test_mv*
*testimport*
*results/milestone1*
*results/milestone2*
*data/MNIST/*
*TOLAND*
*.idea*
*results/DPP*
