# PyTorch nightly CPU version with custom index URL
torch --index-url https://download.pytorch.org/whl/nightly/cpu
torchvision --index-url https://download.pytorch.org/whl/nightly/cpu
torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu

# Hydra core 
hydra-core~=1.3.2

# Omegaconf and tqdm without specific versions
numpy
omegaconf
tqdm
colorama
matplotlib
pandas
